html {
  font-family: sans-serif;
}

/* Adjust z-index so that nav shadows are shown on tabs. */
nav {
  position: relative;
  z-index: 1;
}

.row {
  overflow: auto;
}

table {
  width: initial;
}

/* Bottom border after each round. */
table > tbody > tr:nth-child(3n+0) {
  border-bottom: 1px solid #d0d0d0;
}

/* Center row headers too. */
table.centered tbody tr th {
  text-align: center;
}

table tbody th[rowspan] {
  padding-right: 1em;
}

table input[type=number] {
  text-align: center;
  width: 2rem;
  height: 1.5rem;
  margin: 0;
}

table th .chip {
  text-transform: uppercase;
  font-weight: inherit;
}

td, th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input[type=text] {
  width: 10rem;
}

/* Remove Webkit spinners. */
input.no-spinner[type=number]::-webkit-inner-spin-button,
input.no-spinner[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 100% width select box looks silly. */
select.browser-default {
  width: inherit;
}

.inline-button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.66rem;
}
